# DataFrame Basics Exercise

## Part 1
* Use pandas to read the `bestsellers` dataset into a DataFrame 
* Once you've done that, use Pandas to figure out how many rows and columns the DF has
* Inspect the first 5 rows
* Inspect the first 19 rows
* Inspect the last 5 rows
* Inspect the last 2 rows 
* Which columns (if any) are missing values?
* What datatype did Pandas assign to "User Rating"?
* How many integer columns are in the DataFrame?

In [9]:
import pandas as pd
bestsellers = pd.read_csv('data/bestsellers.csv')

In [21]:
#dataset size
bestsellers.shape

(550, 7)

In [25]:
#checck for missing values
bestsellers.isna().value_counts()

Name   Author  User Rating  Reviews  Price  Year   Genre
False  False   False        False    False  False  False    550
Name: count, dtype: int64

In [27]:
#datatypes
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

## Part 2

* The `mount_everest_deaths` dataset has its own index column provided in the dataset.  When importing it, use the existing index column.
* Which columns have zero null values?
* Which column has the most null values?

In [29]:
mount_everest = pd.read_csv('data/mount_everest_deaths.csv')

In [39]:
mount_everest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             310 non-null    int64
 1   Name            310 non-null    object
 2   Date            310 non-null    object
 3   Age             160 non-null    float64
 4   Expedition      271 non-null    object
 5   Nationality     309 non-null    object
 6   Cause of death  296 non-null    object
 7   Location        291 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 19.5+ KB

## Part 3
* Import the `movie_titles.tsv` dataset
* You'll notice that it is not comma-separated! You'll need to tell `read_csv` what the separator actually is.
* The dataset does not come with its own column headings, so you'll need to provide those as well.  The columns are, in order, `id`, `title`, `year`, `imdb_rating`, `imdb_id`, and `genres`
* Once you have successfully read the dataset into a DataFrame, inspect the last 7 rows!

In [53]:
labels = ["id", "title", "year", "imdb_rating", "imdb_id","genres"]
movie_titles = pd.read_csv("data/movie_titles.tsv", sep="\t", names=labels)

In [ ]:
movie_titles.tail(7